/* Top */

#Top {
    background-color: rgb(77, 161, 255);
    background-image: url(../img/pattern.png);
    margin-bottom: 1%
}

#logo {
    width: 30%;
    height: 40%;
}

#Titolo {
    font-size: 240%;
    font-weight: bold;
}

#Sottotitolo {
    font-size: 140%;
}
#Sottotitolo, #Data {
    color: grey;
}

#Nome_autore {
    color: rgb(86, 192, 236);
}

#Immagini_pre-corpo {
    margin-top: 1%;
    
}

#Sottotitolo_immagini {
    font-size: 80%;
}


/* Corpo */

#corpo {
    font-size: 120%;
}

#Highlight {
    background-color: yellow;
}

#Lista {
    margin-top: 2%;
    margin-left: -20px;
}

/* Footer */

#AD1 {
    background-image: url(../img/monitor.jpg);
    width: auto;
}

#AD2 {
    background-image: url(../img/graph.jpg);
}