/* all */

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* Top */

#Top {
    background-color: rgb(77, 161, 255);
    background-image: url(../img/pattern.png);
    margin-bottom: 1%;
    background-size: contain;
}

#logo {
    position: relative;
    width: 30%;
    height: 40%;
    top: 12px;
}

#Titolo {
    font-size: 240%;
    font-weight: bold;
}

#Sottotitolo {
    font-size: 140%;
}
#Sottotitolo, #Data {
    color: grey;
}

#Nome_autore {
    color: rgb(86, 192, 236);
}

#Immagini_pre-corpo {
    margin-top: 1%;
    
}

#Sottotitolo_immagini {
    font-size: 80%;
}


/* Corpo */

.corpo {
    font-size: 120%;
}

#Highlight {
    background-color: yellow;
}

#Lista {
    margin-top: 2%;
    margin-left: -20px;
    font-size: 110%
}

/* Tabella */

.Tabella {
    border-collapse: collapse;
}

td {
    padding: 15px ;
    padding-right: 100px;
}
#Table_top {
    background-color: rgb(26, 170, 230);
}

#Table_1, #Table_3 {
    background-color: rgb(178, 230, 242);
}

/* Bottom */

.Bottom {
    font-size: 120%;
}

/* Footer */

#ADV_text {
    color: grey;
}

#AD1 {
    position: relative;
}

#monitor_text {
    position: absolute;
    color: white;
    top: 11px;
    left: 10px;
    font-size: 25px;
}

#AD2 {
    position: relative;
}

#graph_text {
    position: absolute;
    color: white;
    top: 11px;
    left: 10px;
    font-size: 25px;
}